<?xml version="1.0" ?>
<model>
    <name>landing_station</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
   
      <author>
       <name>Andrew Brahim</name>
       <email>brahim@ascendengineer.com</email>
      </author>
    
    <description>land station model</description>
</model>

